<%- include('header-template') %>
	<% if(data.name!=""){ %>
		<tr>
			<td style="padding:10px;text-align:left;vertical-align:top;width:100%">
				<h3><%=data.name%></h3>
			</td>
		</tr>
	<% } %>
	<tr>
		<td style="padding:10px;text-align:left;vertical-align:top;width:100%">
			<%=data.message%>
		</td>
	</tr>
<%- include('footer-template') %>