<%- include('header') %>
<tr>
	<td style="padding:10px;text-align:left;vertical-align:top;width:100%">
		<h3>Hi <span style="text-transform: capitalize;"><%=user.firstName %> <%=user.lastName %></span>,</h3>
	</td>
</tr>
<tr>
	<td style="padding:10px;text-align:left;vertical-align:top;width:100%">
		Please click the link below to verify your account.
	</td>
</tr>
<tr>
	<td style="padding:10px;text-align:center;vertical-align:top;width:100%">
		<a href="<%=verifyHref %>">Verify</a>
	</td>
</tr>
<%- include('footer') %>